.banner{
  position: relative;
  &-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-size: cover!important;
    background-position: center!important;
  }
  &__content{
    padding: 90px 0;
    h1{
      font-weight: bold;
      font-size: 48px;
      line-height: 56px;
      color: white;
      text-align: center;
      padding: 0 20%;
    }
  }
  &__footer{
    padding: 24px 0;
    background-color: rgba(0,0,0,0.5);
    position: relative;
    min-height: 80px;
    .row{
      align-items: center;
    }
    &__text{
      p{
        font-weight: 300;
        font-size: 18px;
        line-height: 25px;
        text-align: right;
        color: #FFFFFF;
        margin: 0;
      }
    }
    &__btn{
      position: relative;
      padding-left: 70px;
      height: 100%;
      &:before{
        content: "";
        position: absolute;
        left: 35px;
        top: 50%;
        transform: translateY(-50%);
        height: 70px;
        width: 1px;
        background-color: rgba(256,256,256,0.2);
      }
      &__link{
        display: inline-block;
        width: 100%;
        text-align: center;
        background: #F7423B;
        border-radius: 4px;
        height: 48px;
        line-height: 48px;
        text-decoration: none;
        font-weight: bold;
        font-size: 16px;
        color: white;
        cursor: pointer;
        &:hover{
          background: #b1413a;
        }
      }
    }
  }
}
.cards{
  padding-top: 60px;
  padding-bottom: 60px;
  &__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 35px;
  }
  &__block{
    position: relative;
    align-self: stretch;
    margin-bottom: 40px;
    &__wrap{
      background-color: rgba(0,0,0,0.04);
      position: relative;
      height: 100%;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 4px;
        background: linear-gradient(170.19deg, #1C3254 0%, #F7423B 100%);
      }
      &__numb{
        position: absolute;
        top: -20px;
        left: 10px;
        background: #0071BB;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        font-size: 20px;
        color: white;
      }
      &__img{
        display: inline-block;
        width: 100%;
        padding-top: 65%;
        background-size: cover!important;
        background-position: center!important;
      }
      &__text{
        margin: 0;
        padding: 25px 20px;
        font-size: 16px;
        line-height: 19px;
        color: #000000;
      }
    }
  }
}
.news{
  background-color: #1C3254;
  padding-top: 60px;
  padding-bottom: 60px;
  .row{
    > div{
      position: relative;
    }
  }
  &__card{
    width: 80%;
    margin: 0 auto;
    &__img{
      width: 300px;
      height: 300px;
      border-radius: 50%;
      overflow: hidden;
      position: relative;
      margin: 0 auto 30px auto;
      &__bg{
        width: calc(100% + 10px);
        height: calc(100% + 10px);
        position: absolute;
        left: -5px;
        top: -5px;
        background-size: cover!important;
        background-position: center!important;
      }
    }
    &__title{
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      text-align: center;
      color: #FFFFFF;
      margin: 15px 0;
    }
    &__text{
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #FFFFFF;
      margin: 0;
    }
  }
}
.check-form{
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
  &:before{
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    height: 100%;
    width: 100vw;
    transform: translateX(-50%);
    background-color: rgba(0,0,0,0.04);
  }
  &__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin: 0 0 8px 0;
  }
  &__sub-title{
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    margin: 0;
  }
  &__wrap{
    background: #1C3254;
    border-radius: 8px;
    padding: 25px 20px;
    margin-top: 60px;
    position: relative;
    transition: all linear 0.5s;
    min-height: 665px;
    display: flex;
    flex-direction: column;
    &__padding{
      transition: all linear 0.5s;
    }
    &__title{
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
      margin: 0 0 8px 0;
    }
    &__sub-title{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #FFFFFF;
      margin: 0;
    }
    &__content{
      &.active{
        display: flex;
      }
      //display: flex;
      display: none;
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
      margin-top: 25px;
      flex-wrap: wrap;
      &__card{
        width: calc(20% - 20px);
        margin-right: 20px;
        position: relative;
        margin-bottom: 30px;
        cursor: pointer;
        &.active{
          .check-form__wrap__content__card__img{
            &:before{
              content: "";
              position: absolute;
              width: 100%;
              height: 100%;
              left: 0;
              top: 0;
              background: rgba(0, 113, 187, 0.7);
            }
            &:after{
              content: "";
              position: absolute;
              left: 50%;
              top: 50%;
              background: url("../assets/img/tick.svg")no-repeat center;
              background-size: contain;
              width: 40px;
              height: 40px;
              transform: translate(-50%, -50%);
            }
          }
        }
        input{
          display: none;
        }
        &__img{
          width: 100%;
          padding-top: 75%;
          background-size: cover!important;
          background-position: center!important;
          position: relative;
        }
        &__text{
          margin: 8px 0;
          text-align: center;
          font-size: 16px;
          line-height: 19px;
          color: white;
        }
        &.special{
          align-self: stretch;
          textarea{
            height: 144px;
            resize: none;
            padding: 10px;
            font-size: 16px;
            line-height: 19px;
            color: black;
            width: 100%;
            border-radius: 4px;
            text-align: center;
          }
        }
      }
      &__check{
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        input{
          width: 16px;
          height: 16px;
          margin: 1px 8px 0 0;
          display: inline-block;
        }
        p{
          vertical-align: top;
          display: inline-block;
          font-size: 16px;
          line-height: 19px;
          color: #FFFFFF;
          margin: 0;
        }
      }
    }
    &__control{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-wrap: nowrap;
      margin-top: auto;
      &__prev{
        display: inline-block;
        width: 12px;
        height: 24px;
        background: url("../assets/img/arrowL.svg")no-repeat center;
        background-size: contain;
        cursor: pointer;
        margin: 0 60px;
      }
      &__next{
        display: inline-block;
        width: 12px;
        height: 24px;
        background: url("../assets/img/arrowR.svg")no-repeat center;
        background-size: contain;
        cursor: pointer;
        margin: 0 60px;
      }
      &__numb{
        font-size: 20px;
        line-height: 23px;
        color: #FFFFFF;
        margin: 0;
      }
      &__slash{
        margin: 0 15px;
        font-size: 0;
        width: 1px;
        height: 14px;
        background-color: rgba(256,256,256,0.2);
      }
    }
    &__footer{
      padding-top: 20px;
      border-top: 1px solid rgba(256,256,256,0.15);
      margin-top: 25px;
      display: flex;
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: flex-start;
      &__input{
        border-radius: 4px;
        background-color: white;
        height: 48px;
        width: calc(21% - 20px);
        position: relative;
        padding: 0 15px;
        margin-right: 20px;
        input{
          border: none;
          outline: none;
          width: 100%;
          font-size: 16px;
          color: rgba(0,0,0,0.8);
          line-height: 44px;
          background-color: transparent;
        }
        &__submit{
          border-radius: 4px;
          background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #F7423B;
          height: 48px;
          width: 16%;
          position: relative;
          &:hover{
            background: #F7423B;
          }
          input{
            width: 100%;
            height: 100%;
            background-color: transparent;
            border: none;
            outline: none;
            font-weight: bold;
            font-size: 16px;
            line-height: 46px;
            text-align: center;
            color: #FFFFFF;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.contact{
  &__title{
    font-weight: bold;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 60px;
  }
  &__info{
    background-color: #1C3254;
    padding-top: 25px;
    padding-bottom: 25px;
    &__choice{
      padding: 0;
      &.active{
        .contact__info{
          &__title{
            border-bottom: 1px solid #F7423B;
          }
          &__ratio{
            color: #F7423B;
            &:after{
              content: "";
              position: absolute;
              left: 5px;
              top: 50%;
              transform: translateY(-50%);
              height: 4px;
              width: 4px;
              border-radius: 50%;
              background-color: black;
            }
          }
        }
      }
    }
    &__title{
      font-weight: bold;
      font-size: 20px;
      line-height: 23px;
      color: #FFFFFF;
      padding-bottom: 8px;
      border-bottom: 1px solid rgba(256,256,256,0.12);
      text-decoration: none;
      margin-bottom: 25px;
      display: inline-block;
      &.active{
        border-bottom: 1px solid #F7423B;
      }
    }
    &__addr{
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #FFFFFF;
      margin-bottom: 25px;
    }
    &__number{
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #FFFFFF;
      padding-left: 25px;
      display: inline-block;
      position: relative;
      margin-bottom: 12px;
      width: 100%;
      text-decoration: none;
      &:before{
        content: "";
        position: absolute;
        width: 16px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("../assets/img/phone.svg")no-repeat center;
        background-size: contain;
      }
    }
    &__mail{
      font-weight: 300;
      font-size: 16px;
      line-height: 23px;
      color: #FFFFFF;
      padding-left: 25px;
      display: inline-block;
      position: relative;
      margin-bottom: 24px;
      width: 100%;
      text-decoration: none;
      &:before{
        content: "";
        position: absolute;
        width: 16px;
        height: 20px;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background: url("../assets/img/mail.svg")no-repeat center;
        background-size: contain;
      }
    }
    &__ratio{
      font-size: 16px;
      line-height: 19px;
      color: white;
      padding-left: 25px;
      display: inline-block;
      position: relative;
      margin: 0;
      width: 100%;
      text-decoration: none;
      &:before{
        content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        border-radius: 50%;
        width: 14px;
        height: 14px;
        background-color: white;
      }
      &.active{
        color: #F7423B;
        &:after{
          content: "";
          position: absolute;
          left: 5px;
          top: 50%;
          transform: translateY(-50%);
          height: 4px;
          width: 4px;
          border-radius: 50%;
          background-color: black;
        }
      }
    }
  }
  &__map{
    height: 560px;
    position: relative;
    background-color: gray;
    padding: 0;
    .maps{
      width: 100%;
      height: 100%;
    }
  }
}
.footer{
  background-color: #1C3254;
  p{
    font-size: 16px;
    line-height: 19px;
    color: white;
    text-align: center;
    padding: 16px 0;
    margin: 0;
  }
}