@charset "UTF-8";
/* ╨Я╨╡╤А╨╡╨╝╨╡╨╜╨╜╤Л╨╡ */
/* ╨Ь╨╕╨║╤Б╨╕╨╜╤Л */
/* line 1, _btn.scss */
button, button:active, button:hover, button:visited, button:focus {
  outline: none !important;
  cursor: pointer;
}

/* ╨Ъ╨╜╨╛╨┐╨║╨╕ */
/* ╨Ш╨║╨╛╨╜╨║╨╕ */
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* ╨Ь╨╛╨┤╨░╨╗╤М╨╜╨╛╨╡ ╨╛╨║╨╜╨╛ */
/* line 7, style.scss */
* {
  box-sizing: border-box;
}

/* line 10, style.scss */
body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto Condensed', sans-serif;
  overflow-x: hidden;
  background-color: white;
}

/* ╨б╤В╨╕╨╗╤М ╨┐╨╛ ╤Г╨╝╨╛╨╗╤З╨░╨╜╨╕╤О */
/* line 1, _header.scss */
.header {
  background-color: white;
  padding: 39px 0;
}
/* line 4, _header.scss */
.header__wrap {
  height: 42px;
  position: relative;
  align-items: center;
}
/* line 9, _header.scss */
.header__logo {
  height: 42px;
  position: relative;
}
/* line 12, _header.scss */
.header__logo a {
  display: inline-block;
  height: 100%;
}
/* line 15, _header.scss */
.header__logo a img {
  height: 100%;
}
/* line 20, _header.scss */
.header__number {
  height: 42px;
  position: relative;
  text-align: right;
}
/* line 24, _header.scss */
.header__number a {
  display: inline-block;
  height: 100%;
  text-decoration: none;
  line-height: 42px;
  font-size: 21px;
  color: #F7423B;
}
/* line 31, _header.scss */
.header__number a:hover {
  opacity: 0.8;
}
/* line 34, _header.scss */
.header__number a i {
  font-size: 35px;
  color: #546881;
}
/* line 41, _header.scss */
.header__mail {
  height: 42px;
  position: relative;
  text-align: right;
}
/* line 45, _header.scss */
.header__mail a {
  display: inline-block;
  height: 100%;
  font-size: 21px;
  line-height: 42px;
  color: #0071BB;
}
/* line 51, _header.scss */
.header__mail a:hover {
  opacity: 0.8;
}

/* ╨и╨░╨┐╨║╨░ */
/* line 1, _page.scss */
.banner {
  position: relative;
}
/* line 3, _page.scss */
.banner-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-position: center !important;
}
/* line 12, _page.scss */
.banner__content {
  padding: 200px 0;
}
/* line 14, _page.scss */
.banner__content h1 {
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: white;
  text-align: center;
  padding: 0 20%;
}
/* line 23, _page.scss */
.banner__footer {
  padding: 24px 0;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
  min-height: 80px;
}
/* line 28, _page.scss */
.banner__footer .row {
  align-items: center;
}
/* line 32, _page.scss */
.banner__footer__text p {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  text-align: right;
  color: #FFFFFF;
  margin: 0;
}
/* line 41, _page.scss */
.banner__footer__btn {
  position: relative;
  padding-left: 70px;
  height: 100%;
}
/* line 45, _page.scss */
.banner__footer__btn:before {
  content: "";
  position: absolute;
  left: 35px;
  top: 50%;
  transform: translateY(-50%);
  height: 70px;
  width: 1px;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 55, _page.scss */
.banner__footer__btn__link {
  display: inline-block;
  width: 100%;
  text-align: center;
  background: #F7423B;
  border-radius: 4px;
  height: 48px;
  line-height: 48px;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  color: white;
  cursor: pointer;
}
/* line 68, _page.scss */
.banner__footer__btn__link:hover {
  background: #b1413a;
}

/* line 75, _page.scss */
.cards {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 78, _page.scss */
.cards__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 35px;
}
/* line 85, _page.scss */
.cards__block {
  position: relative;
  align-self: stretch;
  margin-bottom: 40px;
}
/* line 89, _page.scss */
.cards__block__wrap {
  background-color: rgba(0, 0, 0, 0.04);
  position: relative;
  height: 100%;
}
/* line 93, _page.scss */
.cards__block__wrap:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background: linear-gradient(170.19deg, #1C3254 0%, #F7423B 100%);
}
/* line 102, _page.scss */
.cards__block__wrap__numb {
  position: absolute;
  top: -20px;
  left: 10px;
  background: #0071BB;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  color: white;
}
/* line 116, _page.scss */
.cards__block__wrap__img {
  display: inline-block;
  width: 100%;
  padding-top: 65%;
  background-size: cover !important;
  background-position: center !important;
}
/* line 123, _page.scss */
.cards__block__wrap__text {
  margin: 0;
  padding: 25px 20px;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

/* line 133, _page.scss */
.news {
  background-color: #1C3254;
  padding-top: 60px;
  padding-bottom: 60px;
}
/* line 138, _page.scss */
.news .row > div {
  position: relative;
}
/* line 142, _page.scss */
.news__card {
  width: 80%;
  margin: 0 auto;
}
/* line 145, _page.scss */
.news__card__img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto 30px auto;
}
/* line 152, _page.scss */
.news__card__img__bg {
  width: calc(100% + 10px);
  height: calc(100% + 10px);
  position: absolute;
  left: -5px;
  top: -5px;
  background-size: cover !important;
  background-position: center !important;
}
/* line 162, _page.scss */
.news__card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
  margin: 15px 0;
}
/* line 170, _page.scss */
.news__card__text {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 0;
}

/* line 179, _page.scss */
.check-form {
  padding-top: 60px;
  padding-bottom: 60px;
  position: relative;
}
/* line 183, _page.scss */
.check-form:before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 100vw;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.04);
}
/* line 193, _page.scss */
.check-form__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin: 0 0 8px 0;
}
/* line 200, _page.scss */
.check-form__sub-title {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin: 0;
}
/* line 206, _page.scss */
.check-form__wrap {
  background: #1C3254;
  border-radius: 8px;
  padding: 25px 20px;
  margin-top: 60px;
  position: relative;
  transition: all linear 0.5s;
  min-height: 665px;
  display: flex;
  flex-direction: column;
}
/* line 216, _page.scss */
.check-form__wrap__padding {
  transition: all linear 0.5s;
}
/* line 219, _page.scss */
.check-form__wrap__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 0 0 8px 0;
}
/* line 226, _page.scss */
.check-form__wrap__sub-title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0;
}
/* line 233, _page.scss */
.check-form__wrap__content {
  display: none;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: 25px;
  flex-wrap: wrap;
}
/* line 234, _page.scss */
.check-form__wrap__content.active {
  display: flex;
}
/* line 244, _page.scss */
.check-form__wrap__content__card {
  width: calc(20% - 20px);
  margin-right: 20px;
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;
}
/* line 252, _page.scss */
.check-form__wrap__content__card.active .check-form__wrap__content__card__img:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 113, 187, 0.7);
}
/* line 261, _page.scss */
.check-form__wrap__content__card.active .check-form__wrap__content__card__img:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  background: url("../assets/img/tick.svg") no-repeat center;
  background-size: contain;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
}
/* line 274, _page.scss */
.check-form__wrap__content__card input {
  display: none;
}
/* line 277, _page.scss */
.check-form__wrap__content__card__img {
  width: 100%;
  padding-top: 75%;
  background-size: cover !important;
  background-position: center !important;
  position: relative;
}
/* line 284, _page.scss */
.check-form__wrap__content__card__text {
  margin: 8px 0;
  text-align: center;
  font-size: 16px;
  line-height: 19px;
  color: white;
}
/* line 291, _page.scss */
.check-form__wrap__content__card.special {
  align-self: stretch;
}
/* line 293, _page.scss */
.check-form__wrap__content__card.special textarea {
  height: 144px;
  resize: none;
  padding: 10px;
  font-size: 16px;
  line-height: 19px;
  color: black;
  width: 100%;
  border-radius: 4px;
  text-align: center;
}
/* line 306, _page.scss */
.check-form__wrap__content__check {
  display: inline-block;
  width: 100%;
  margin-top: 15px;
}
/* line 310, _page.scss */
.check-form__wrap__content__check input {
  width: 16px;
  height: 16px;
  margin: 1px 8px 0 0;
  display: inline-block;
}
/* line 316, _page.scss */
.check-form__wrap__content__check p {
  vertical-align: top;
  display: inline-block;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin: 0;
}
/* line 326, _page.scss */
.check-form__wrap__control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-wrap: nowrap;
  margin-top: auto;
}
/* line 333, _page.scss */
.check-form__wrap__control__prev {
  display: inline-block;
  width: 12px;
  height: 24px;
  background: url("../assets/img/arrowL.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin: 0 60px;
}
/* line 342, _page.scss */
.check-form__wrap__control__next {
  display: inline-block;
  width: 12px;
  height: 24px;
  background: url("../assets/img/arrowR.svg") no-repeat center;
  background-size: contain;
  cursor: pointer;
  margin: 0 60px;
}
/* line 351, _page.scss */
.check-form__wrap__control__numb {
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 0;
}
/* line 357, _page.scss */
.check-form__wrap__control__slash {
  margin: 0 15px;
  font-size: 0;
  width: 1px;
  height: 14px;
  background-color: rgba(255, 255, 255, 0.2);
}
/* line 365, _page.scss */
.check-form__wrap__footer {
  padding-top: 20px;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  margin-top: 25px;
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 373, _page.scss */
.check-form__wrap__footer__input {
  border-radius: 4px;
  background-color: white;
  height: 48px;
  width: calc(21% - 20px);
  position: relative;
  padding: 0 15px;
  margin-right: 20px;
}
/* line 381, _page.scss */
.check-form__wrap__footer__input input {
  border: none;
  outline: none;
  width: 100%;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.8);
  line-height: 44px;
  background-color: transparent;
}
/* line 390, _page.scss */
.check-form__wrap__footer__input__submit {
  border-radius: 4px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), #F7423B;
  height: 48px;
  width: 16%;
  position: relative;
}
/* line 396, _page.scss */
.check-form__wrap__footer__input__submit:hover {
  background: #F7423B;
}
/* line 399, _page.scss */
.check-form__wrap__footer__input__submit input {
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
}

/* line 418, _page.scss */
.contact__title {
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #000000;
  margin-bottom: 60px;
}
/* line 425, _page.scss */
.contact__info {
  background-color: #1C3254;
  padding-top: 25px;
  padding-bottom: 25px;
}
/* line 429, _page.scss */
.contact__info__choice {
  padding: 0;
}
/* line 433, _page.scss */
.contact__info__choice.active .contact__info__title {
  border-bottom: 1px solid #F7423B;
}
/* line 436, _page.scss */
.contact__info__choice.active .contact__info__ratio {
  color: #F7423B;
}
/* line 438, _page.scss */
.contact__info__choice.active .contact__info__ratio:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: black;
}
/* line 453, _page.scss */
.contact__info__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  text-decoration: none;
  margin-bottom: 25px;
  display: inline-block;
}
/* line 463, _page.scss */
.contact__info__title.active {
  border-bottom: 1px solid #F7423B;
}
/* line 467, _page.scss */
.contact__info__addr {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  margin-bottom: 25px;
}
/* line 474, _page.scss */
.contact__info__number {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  padding-left: 25px;
  display: inline-block;
  position: relative;
  margin-bottom: 12px;
  width: 100%;
  text-decoration: none;
}
/* line 485, _page.scss */
.contact__info__number:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../assets/img/phone.svg") no-repeat center;
  background-size: contain;
}
/* line 497, _page.scss */
.contact__info__mail {
  font-weight: 300;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  padding-left: 25px;
  display: inline-block;
  position: relative;
  margin-bottom: 24px;
  width: 100%;
  text-decoration: none;
}
/* line 508, _page.scss */
.contact__info__mail:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: url("../assets/img/mail.svg") no-repeat center;
  background-size: contain;
}
/* line 520, _page.scss */
.contact__info__ratio {
  font-size: 16px;
  line-height: 19px;
  color: white;
  padding-left: 25px;
  display: inline-block;
  position: relative;
  margin: 0;
  width: 100%;
  text-decoration: none;
}
/* line 530, _page.scss */
.contact__info__ratio:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  width: 14px;
  height: 14px;
  background-color: white;
}
/* line 541, _page.scss */
.contact__info__ratio.active {
  color: #F7423B;
}
/* line 543, _page.scss */
.contact__info__ratio.active:after {
  content: "";
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  width: 4px;
  border-radius: 50%;
  background-color: black;
}
/* line 557, _page.scss */
.contact__map {
  height: 560px;
  position: relative;
  background-color: gray;
  padding: 0;
}
/* line 562, _page.scss */
.contact__map .maps {
  width: 100%;
  height: 100%;
}

/* line 568, _page.scss */
.footer {
  background-color: #1C3254;
}
/* line 570, _page.scss */
.footer p {
  font-size: 16px;
  line-height: 19px;
  color: white;
  text-align: center;
  padding: 16px 0;
}

/* ╨Ю╤Б╨╜╨╛╨▓╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* ╨Ю╨┐╤Ж╨╕╨╛╨╜╨░╨╗╤М╨╜╤Л╨╡ ╤Б╤В╨╕╨╗╨╕ */
/* ╨Я╨╛╨┤╨▓╨░╨╗ */
@media screen and (max-width: 1199px) {
  /* line 2, _media.scss */
  .check-form__wrap__content__card.special textarea {
    height: 118px;
  }

  /* line 5, _media.scss */
  .check-form__wrap {
    height: 615px;
  }
}
@media screen and (max-width: 991px) {
  /* line 10, _media.scss */
  .header__logo {
    height: 24px;
  }

  /* line 13, _media.scss */
  .banner__content {
    padding: 50px 0;
  }

  /* line 16, _media.scss */
  .banner__content h1 {
    padding: 0 10%;
  }

  /* line 19, _media.scss */
  .banner__footer__text p {
    text-align: left;
  }

  /* line 22, _media.scss */
  .banner__footer__btn:before {
    width: 0;
  }

  /* line 25, _media.scss */
  .banner__footer__btn {
    padding: 0;
    text-align: center;
  }

  /* line 29, _media.scss */
  .banner__footer__btn__link {
    width: auto;
    padding: 0 20px;
    margin-top: 12px;
  }

  /* line 34, _media.scss */
  .news__card {
    width: 100%;
  }

  /* line 37, _media.scss */
  .check-form__wrap__content__card {
    width: calc(33% - 20px);
  }

  /* line 40, _media.scss */
  .check-form__wrap__footer__input {
    width: calc(40% - 20px);
    margin-bottom: 20px;
  }

  /* line 44, _media.scss */
  .check-form__wrap__footer {
    flex-wrap: wrap;
  }

  /* line 47, _media.scss */
  .check-form__wrap__footer__input__submit {
    width: 20%;
    transform: translateY(-100%);
    position: relative;
    top: -20px;
  }

  /* line 53, _media.scss */
  .check-form__wrap__content__card.special textarea {
    height: 145px;
  }

  /* line 56, _media.scss */
  .check-form__wrap {
    height: 780px;
  }
}
@media screen and (max-width: 767px) {
  /* line 61, _media.scss */
  .header__logo {
    height: 30px;
    margin-bottom: 10px;
    text-align: center;
  }

  /* line 66, _media.scss */
  .header__number {
    text-align: left;
  }

  /* line 69, _media.scss */
  .header__wrap {
    height: auto;
  }

  /* line 72, _media.scss */
  .header {
    padding: 30px 0;
  }

  /* line 75, _media.scss */
  .banner__content h1 {
    font-size: 32px;
    line-height: 37px;
    padding: 0;
  }

  /* line 80, _media.scss */
  .banner__footer__text p {
    font-size: 14px;
    line-height: 17px;
  }

  /* line 84, _media.scss */
  .banner__footer {
    padding: 16px 0;
  }

  /* line 87, _media.scss */
  .cards__title, .check-form__title, .contact__title {
    font-size: 20px;
    line-height: 23px;
  }

  /* line 91, _media.scss */
  .news__card__img {
    height: 220px;
    width: 220px;
  }

  /* line 95, _media.scss */
  .check-form__wrap__footer__input {
    width: calc(39% - 10px);
    margin-bottom: 10px;
    margin-right: 10px;
  }

  /* line 100, _media.scss */
  .check-form__wrap__footer__input__submit {
    top: -10px;
    width: 22%;
  }

  /* line 104, _media.scss */
  .check-form__wrap__content__card.special {
    width: 100%;
    margin-right: 0;
  }

  /* line 108, _media.scss */
  .check-form__wrap__content__card.special textarea {
    height: 50px;
  }

  /* line 111, _media.scss */
  .check-form__wrap {
    height: 990px;
  }
}
@media screen and (max-width: 574px) {
  /* line 116, _media.scss */
  .header__number {
    text-align: center;
  }

  /* line 119, _media.scss */
  .header__mail {
    text-align: center;
  }

  /* line 122, _media.scss */
  .header {
    padding: 20px 0;
  }

  /* line 125, _media.scss */
  .check-form__wrap__content__card {
    width: calc(50% - 10px);
    margin-right: 0;
  }

  /* line 129, _media.scss */
  .check-form__wrap__content {
    justify-content: space-between;
  }

  /* line 132, _media.scss */
  .check-form__wrap__footer__input {
    width: 100%;
    margin-right: 0;
  }

  /* line 136, _media.scss */
  .check-form__wrap__footer__input__submit {
    top: 0;
    width: 100%;
    transform: translateY(0);
  }

  /* line 141, _media.scss */
  .contact__map {
    max-height: 100vh;
  }

  /* line 144, _media.scss */
  .contact__info__choice {
    margin-bottom: 20px;
  }

  /* line 147, _media.scss */
  .header__logo {
    height: 28px;
  }

  /* line 150, _media.scss */
  .news__card {
    margin-top: 30px;
  }

  /* line 153, _media.scss */
  .check-form__wrap__control__prev {
    margin: 0 30px;
  }

  /* line 156, _media.scss */
  .check-form__wrap__control__next {
    margin: 0 30px;
  }

  /* line 159, _media.scss */
  .footer p {
    font-size: 13px;
  }

  /* line 162, _media.scss */
  .contact__info__choice:not(.active) {
    display: none;
  }

  /* line 165, _media.scss */
  .contact {
    margin-top: 0;
  }

  /* line 168, _media.scss */
  .check-form__wrap {
    height: 1200px;
  }

  /* line 171, _media.scss */
  .check-form__wrap__content__check {
    white-space: nowrap;
  }
  /* line 173, _media.scss */
  .check-form__wrap__content__check p {
    white-space: normal;
  }
}
/* ╨Ь╨╡╨┤╨╕╨░ ╨╖╨░╨┐╤А╨╛╤Б╤Л */
